/********************    FLOATING LABELS    *******************/

.faculty label, .notRequired {
  position: absolute;
  top: 8px;
  left: 25px;
  padding: 0;
  transition: 0.51s;
  pointer-events: none;
  background: #fff;
}

.faculty .form-group input:focus ~ label,
.faculty .form-group input:valid ~ label
 {
  top: -12px;
  left: 25px;
  font-size: 12px;
  padding: 2px 4px;
}

.faculty .form-group textarea:focus ~ span, input:focus ~ span {
  top: -12px;
  left: 20px;
  font-size: 12px;
  padding: 2px 4px;
}

.faculty .form-group select:focus ~ label,
.faculty .form-group select:valid ~ label {
  top: -12px;
  left: 20px;
  font-size: 12px;
  padding: 2px 4px;
}

.faculty .fixlabel label {
 top: -12px;
  left: 25px;
  font-size: 12px;
  padding: 2px 4px;
}

/********************    FLOATING LABELS    *******************/

