

.login .form-group label, span {
  position: absolute;
  top: 8px;
  left: 25px;
  padding: 0;
  transition: 0.51s;
  pointer-events: none;
  background: #fff;
}

.login .form-group input:focus ~ label,
.login .form-group input:valid ~ label
 {
  top: -12px;
  left: 25px;
  font-size: 12px;
  padding: 2px 4px;
}

.login .form-group textarea:focus ~ span, input:focus ~ span {
  top: -12px;
  left: 20px;
  font-size: 12px;
  padding: 2px 4px;
}

.login .form-group select:focus ~ label,
.login .form-group select:valid ~ label {
  top: -12px;
  left: 20px;
  font-size: 12px;
  padding: 2px 4px;
}

.login .fixlabel label {
 top: -12px;
  left: 25px;
  font-size: 12px;
  padding: 2px 4px;
}

