nav {
	z-index: 101;
}

.alert-close {
	font-size: 20px;
}

.alert p {
	display: inline;
}

.bootstrap-select button {
	border:1px solid #ced4da;
}

.profile {
	height: 82%;
}

.hand {
	cursor:pointer;
}